
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
    <title>Craigslist app</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'craigslist/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <meta charset="UTF-8">
    <body>
        <nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Nice Pathway to Jumia</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
        <div class="container">
    <h1 style="text-align: center">Search for a product and we'll show it to you</h1>
    <div class="row">
        <div class="col s4">
            <!-- Promo Content 1 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: #008000 ">flash_auto</i>
                <p>Fast jumia web scraper</p>
                <p class="light center">Scrape away right here with a beautiful GUI.</p>
            </div>
        </div>

        <div class="col s4">
            <!-- Promo Content 2 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: yellow">filter_b_and_w</i>
                <p>Filter your Searches</p>
                <p class="light center">you can filter based on pricing.</p>
            </div>
        </div>

        <div class="col s4">
            <!-- Promo Content 3 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: blue">filter_vintage</i>
                <p>A much better front-end to jumia</p>
                <p class="light center"> built  with ❤️</p>
            </div>
        </div>
    </div>

    <form action="{% url 'new_search' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="search">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>

    {% block content %}

    {% endblock content %}
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>