{% extends 'base.html' %}
{% block content %}

<h3 style = "texy-align:center">searching for {{search | title}} in craigslist.... wait a few seconds</h3>
    <div class="row">

            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="/"><img src="/" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>Test Paragraph</p>
                    </div>
                    <div class="card-action">
                        <a href="/">View listing: Price $200</a>
                    </div>
                </div>
            </div>

    </div>
{% endblock content %}