{% extends 'base.html' %}
{% block content %}

<h3 style = "text-align:center">search results for  {{search | title}} </h3>
    <div class="row">
     {% for det in detail %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="https://jumia.com.ng{{det.3}}"><img src="{{det.2}}" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>{{det.0}}</p>
                    </div>
                    <div class="card-action">
                        <a href="jumia.com.ng{{det.3}}">Price:{{det.1}}</a>
                    </div>
                </div>
            </div>
   {% endfor %}
    </div>
{% endblock content %}